@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
 @media only screen and (max-device-width:480px){
    .iconbar{ height:80px;
    width: 90%;}
    .icons i{
      font-size:1.6em;
    }
    .icons span{
      font-size:1em;
    }
  }

body {
    height:100%;
    overflow: auto;
    background: whitesmoke;
    display: flex;
    
    flex-wrap: wrap;
    min-height: 100vh;
 
   
  }
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Lexend&family=Tourney:wght@200;400&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend', sans-serif;
    font-family: 'Tourney', cursive;
}
 
.header {
  background-image: linear-gradient( 106.9deg,  rgba(148,14,60,1) 60.9%, rgba(3,22,27,1) 122.3% );
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 40%;
  top: 1%;
  right: 3%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
   
}

.header li a {
  display: block;
  padding: 20px 20px;
   font-size:30px;
   color: white;
  font-family: 'Lobster', cursive;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-image: linear-gradient( 109.6deg,  rgba(245,56,56,1) 11.2%, rgba(234,192,117,1) 78% );
}
 
/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .nav-icon {
  background: rgb(255, 255, 255);
  display: block;
  height: 2px;
  position: relative;
  transition:  1s ease-out;
  width: 18px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: rgb(255, 255, 255);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: 2s ease-out;
  width: 100%;
}

.header .menu-icon .nav-icon:before {
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}


/* 48em = 768px @ 16pt font */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin:40px 0;
    
    }
.container .card
{
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
    inset -5px -5px 15px rgba(255,255,255,0.1),
    5px 5px 15px rgba(0,0,0,0.3),
    -5px -5px 5px rgba(255,255,255,0.1);
border-radius: 15px;
margin: 30px;
}


.container .card .box
{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border: 2px solid #1e1f23;
    border-radius: 15px;
    box-shadow:0 20px 50px rgba(0,0,0,0.5);
    transition: 0.5s; 
    display: flex;  
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container .card .box::before 
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.1);
        pointer-events: none;
}

.container .card .box:hover
{
    transform: translateY(-50px);
    box-shadow: 0 40px 70px rgba(0,0,0,0.5);
}
.container .card .box .content
{
    padding: 20px;
    text-align: center;
    
    

}
.container .card .box .content h2
{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(255,255,255,0.05);

}
.container .card .box .content h3
{
    
    font-size: 1.8em;
    color: rgba(255,255,255,0.5);
    z-index: 1;
    transition: 0.5s;
}
.container .card .box .content p
{
    font-weight: 300;
    font-size: 16px;
    color: rgba(255,255,255,0.5);
    z-index: 1;
    transition: 0.5s;
}
.container .card .box .content a
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #000;
    margin-top: 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.container .card:nth-child(1) .box .content a
{
    background: #2196f3;
}
.container .card:nth-child(2) .box .content a
{
    background: #e91e63;
}
.container .card:nth-child(3) .box .content a
{
    background: #97dc47;
}
 
.Iam {
  padding: 2em 5em;
  font: normal 40px/50px Montserrat, sans-serif;
  color: #999;
}
.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
}
.Iam .innerIam {
  display: inline-block;
  color: #f7f7f7;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
 


/*animation*/
-webkit-animation:move 5s;
   -moz-animation:move 5s;
    -ms-animation:move 5s;
     -o-animation:move 5s;
        animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
.hide {
  display: none;
}

.icons:hover + .hide {
  display: block;
  color: red;
}
 /*
<div class="myDIV">Hover over me.</div>
<div class="hide">I am shown when someone hovers over the div above.</div>
 */
 .socialMedia .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition:  all 0.3s ease-out;
}


.socialMedia .button:hover {
  width: 200px;
}


.socialMedia .button .icon {
  display: inline-block;
  text-align: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.socialMedia .button:nth-child(1):hover .icon {
  background: #4267b2;
}

.socialMedia .button:nth-child(2):hover .icon {
  background: #e43226;
}

.socialMedia .button:nth-child(3):hover .icon {
  background: #fa921c;
}

.socialMedia .button:nth-child(4):hover .icon {
  background: #25d366;
}

.socialMedia .button:nth-child(5):hover .icon {
  background: #ff0000;
}

.socialMedia .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;

}
.socialMedia .button:hover .icon i {
  color: #fff;
}

.socialMedia .button span {
  font-size: 20px;
  font-weight:500;
  line-height: 60px;
  margin-left: 10px;
}

